<nav>
    <ul>
        <li><a href="views/pages/home.ejs">Icons</a></li>
        <li><a href="views/pages/usage.ejs">Usage</a></li>
        <li><a href="https://github.com/BleakCSS" target="_blank">Github</a></li>
        <li><a href="views/pages/specials.ejs">Icon Packs</a></li>
    </ul>
</nav>