<nav class="nav">
    <ul>
        <li><a href="/home">Icons</a></li>
        <li><a href="/usage">Usage</a></li>
        <li><a href="https://github.com/BleakCSS" target="_blank">Github</a></li>
        <li><a href="/specials">Icon Packs</a></li>
    </ul>
</nav>