@media screen and (max-width: 480px) { /* Small Phones */
    .searchBar input {
        width: 90px;
        height: 75px;
    }
}

@media screen and (max-width: 768px) { /* Tablets and Larger Phones */
    nav a {
        font-size: 13px;
    }

    .searchBar input {
        width: 190px;
        height: 42px;
    }
}

@media screen and (max-width: 1024px) { /* Laptops, Larger Tablets and Small Desktops */
    .searchBar input {
        width: 270px;
        height: 48px;
    }
}

@media screen and (max-width: 1366px) { /* Large Desktop Monitors */
    .searchBar input {
        width: 300px;
        height: 53px;
    }
}