<div class="searchBar">
    <input type="search" placeholder="Search icons..">
</div>

<style>

    body {
        margin: 0;
        padding: 0;
    }

    .searchBar {
        justify-self: center;
        position: absolute;
        top: 26%;
    }

    .searchBar input {
        width: 460px;
        height: 45px;
        border-radius: 11px;
        border: none;
        text-indent: 10px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    }

    .searchBar input::-webkit-search-cancel-button {
        display: none;
    }

    .searchBar input:focus {
        outline: 1px solid grey;
    }
</style>