<div class="usageInf">
    <h1>
        Usage guide and policies.
    </h1>
    <p>
        We do not currently have a dedicated installation or web component, Instead we use a click to copy system where by clicking on the icon you want, it gets copied as an <u>SVG</u> tag that can be embedded directly into an html page.
    </p>
</div>